<!DOCTYPE html>
<html>
    <head>
        <title>
            Login 
        </title>
        <!-- <link rel="stylesheet/less" type="text/css" href="styles.less" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js" ></script> -->
        <link rel="stylesheet" href="../static/css/index.scss">
        <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    </head>
    <body>
        <div class="bgwhitesmoke">
            <form class="paddingTop1 paddingLeft2 paddingRight2 paddingBottom2">
                <span>Username</span><input class="width100 marginBottom1 textbox" type="text">
                <span>Password</span><input class="width100 textbox" type="password">
                <button class="width100 paddingTop1 paddingBottom1 marginTop1 paddingRight2 bgaquamarine" type="submit">Submit</button>
            </form>
        </div>
        <div class="bgwhitesmoke">
            <div class="paddingLeft2 paddingRight2 paddingBottom2">
                <h3 class="paddingTop2">Password must contain the following:</h3>
                <ul class="fa-ul">
                    <li class="">
                        <i class="fa-li fa fa-times" aria-hidden="true"></i>
                        A lowercase letter
                    </li>
                    <li class="     ">
                        <i class="fa-li fa fa-times" aria-hidden="true"></i>
                        A capital (uppercase) letter
                    </li>
                    <li class="paddingTop2">
                        <i class="fa-li fa fa-times" aria-hidden="true"></i>
                        A number
                    </li>
                    <li class="paddingTop2">
                        <i class="fa-li fa fa-times" aria-hidden="true"></i>
                        Mininum 8 characters
                    </li>
                </ul>
            </div>
        </div>
        <script src="index.js"></script>
    </body>
</html>